<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1069630100536-1rmofq6mlv7955hc8kv7ue8ns1d8jqlk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1069630100536-1rmofq6mlv7955hc8kv7ue8ns1d8jqlk</string>
	<key>API_KEY</key>
	<string>AIzaSyAWveA-mTd3NkDX03v1m0vImj5baOru09U</string>
	<key>GCM_SENDER_ID</key>
	<string>1069630100536</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>development.picuzzle</string>
	<key>PROJECT_ID</key>
	<string>picuzzle</string>
	<key>STORAGE_BUCKET</key>
	<string>picuzzle.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1069630100536:ios:5352ec208474542e</string>
	<key>DATABASE_URL</key>
	<string>https://picuzzle.firebaseio.com</string>
</dict>
</plist>